{% extends 'base.html' %}

{% block content %}
  
<main class="container py-5">
    <section class="card card-body">
    <h1 class="display-1 text-center">
    DJANGO APP
    </h1>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore
        praesentium recusandae voluptate? Eos libero amet ex eligendi vitae
        nulla quam, aut placeat ducimus. Obcaecati modi, maiores perspiciatis
        eveniet sapiente magnam quos similique dolore eius eaque cupiditate
        maxime repellat officia consequatur eos quam vel distinctio assumenda
        quasi! Facilis perferendis reiciendis aliquid maiores quisquam praesentium
        reprehenderit debitis quibusdam aperiam sit quos laborum fugiat,
    </p>
    <div class="text-center">
        <a class="btn btn-dark" href="{% url 'signin' %}">
            Signin
        </a>
        <a class="btn btn-dark" href="{% url 'signup' %}">
            Signup
        </a>
    </div>
</section>
</main>

{% endblock %}